<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RDTracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RDTracker.My.MySettings>
            <setting name="Mem" serializeAs="String">
                <value>4607008</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Multi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ugaris" serializeAs="String">
                <value>False</value>
            </setting>
        </RDTracker.My.MySettings>
    </userSettings>
</configuration>